ul{
    padding: 20px;
}

a{
    color:#ffffff !important;
    text-decoration:none;
    /*font ??*/
}

.container{
    padding-top: 150px;
}

.wholecallendar{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.wholecallendar>#addmonth{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 20px;
}

#calendar{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.weekDay{
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.weekDay>div{
    padding:20px;
    text-align: center;
}

.weekDay>div:hover{
    background-color: rgb(141, 141, 141);
}

#previousMonth , #nextMonth , #nameHolder{
    display: inline-block;
}

#previousMonth , #nextMonth{
    padding: 40px
}

#blur.active{
    filter: blur(20px);
    pointer-events: none;
    user-select: none;
}

#popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
}

#popup.active{
    opacity: 1;
    visibility: visible;   
    top: 50%;

}